@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #1F1F28;
    color: #fff;
}

input {
    color: #1F1F28;
    outline: none;
    font-weight: 600;

}

button {
    color: #1F1F28;
    font-weight: 600;
}